# Python cache
__pycache__/
*.pyc

# Data
data/raw/
data/processed/

# Artifacts
artifacts/models/
artifacts/metrics/
artifacts/reports/
artifacts/reports/figures/

# Notebooks
.ipynb_checkpoints/

# Environments
.venv/
.env
